.historySleep{
    display: flex;
    height: 100%;
    
}
.historyItem{
    width: calc((100% - 10px)/2);
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.historyChart{
    flex: 1
}